@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>
<p>This is test for dotnet core</p>

<form action="POST">
    <label for="username">Username: </label>
    <input id="username" type="text" placeholder="input username">
    <input type="submit">
</form>